head
	link(rel="stylesheet" href="style1.css")
body
	header
		img.logo(src="./img/logo.png" alt="")
		div.main_box
			div.main_text MOMIDZI
			div.sub ЦЕНТР ЯПОНСКОГО ЯЗЫКА
	main
		article.box
			div._1
				img.photo(src="./img/01.jpg" alt="")
				div.border1
				div.header_text ПРЕПОДАЮТ НОСИТЕЛИ
				div.text
					| В нашем центре японского языка<br>
					| наряду с русскими<br>
					| преподавателями, занятия ведут<br>
					| носители!

		article.box
			div._2
				img.photo(src="./img/02.jpg" alt="")
				div.border2
				div.header_text УДОБНОЕ РАСПОЛОЖЕНИЕ
				div.text
					| Нас  очень легко найти! Мы находимся<br>
					| в самом центре Санкт-Петербурга, по<br>
					| адресу: Невский проспект, 44.

		article.box
			div._3
				img.photo(src="./img/03.jpg" alt="")
				div.border3
				div.header_text ПОДГОТОВКА К 
					span(style="color: #B20000; margin-left: 0.6rem") J
					| LPT
				div.text
					| Подготовка к сдаче экзамена по<br> 
					| японскому языку  JLPT (Нихонго<br> 
					| Но:рёку Сикэн) уже включена в<br> 
					| стоимость обучения!

		article.box
			div._4
				img.photo(src="./img/04.jpg" alt="")
				div.border4
				div.header_text УЧЕБНИК В ПОРАДОРК
				div.text
					| При оплате за 6 месяцев обучения<br> 
					| учебное пособие  в подарок!

		section.programms
			div.header 5 ПРОГРАММ ДЛЯ РАЗНЫХ УРОВНЕЙ
			div.levels 
				div.level_box._1
					div.text_level N5
					div.sub_level БАЗОВЫЙ КУРС
					div.more_level
						a(href="#") Узнать подробнее

				div.level_box._2
					div.text_level N4
					div.sub_level СРЕДНИЙ КУРС
					div.more_level
						a(href="#") Узнать подробнее

				div.level_box._3
					div.text_level N3
					div.sub_level ПРОДВИНУТЫЙ<br>КУРС
					div.more_level
						a(href="#") Узнать подробнее

				div.level_box._4
					div.text_level N2
					div.sub_level КАЙДЗИН КУРС
					div.more_level
						a(href="#") Узнать подробнее

				div.level_box._5
					div.text_level N1
					div.sub_level НИХОНДЗИН<br>КУРС
					div.more_level
						a(href="#") Узнать подробнее

		section.box_study
			div.study_in_jap
				div.header_text ОБУЧЕНИЕ В Японии
				
				div.study_box._1
					img.study_photo(src="./img/05.jpg" alt="")
					div.border1
					div.study_text ТОКИО
					div.study_more
						a(href="#") Узнать подробнее
				
				div.study_box._2
					img.study_photo(src="./img/06.jpg" alt="")
					div.border2
					div.study_text КОБЕ
					div.study_more
						a(href="#") Узнать подробнее
				
				div.study_box._3
					img.study_photo(src="./img/07.jpg" alt="")
					div.border3
					div.study_text СКИДКА 15%<br>ТОЛЬКО СЕГОДНЯ!
					div.study_more2 ПОСЛЕДНИЙ ШАНС!
				
				div.study_box._4
					div.study_form_head ЗАПИСАТЬ НА КУРСЫ
					form(action="" method="get")
						input(type="text" placeholder="Имя и фамилия")
						input(type="text" placeholder="Электронная почта")
						input(type="text" placeholder="Телефон")
						input(type="button" value="ПОДАТЬ ЗАЯВКУ")

				div.study_box._5
					img.study_photo(src="./img/08.jpg" alt="")
					div.border5
					div.study_text ВАКАНСИЯ: ПРЕПОДАВАТЕЛЬ В ЦЕНТРЕ ЯПОНСКОГО ЯЗЫКА МОМИДЗИ
					div.study_more1
						| Высокий доход<br><br>
						| Стажировки в Японии<br><br>
						| Полная и частичная занятость
					div.study_more
						a(href="#") Узнать подробнее
			
		section.contacts
			div.contacts_head КАК НАС НАЙТИ
			div.contacts_content
				div.addr
					div.addr_head АДРЕС
					div.addr_sub
						| г. Санкт-Петербург,<br>
						| Невский проспект, д.  44,<br>
						| 5-ый этаж,  19 офис
					
				iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d763.2741199684767!2d30.332129476977393!3d59.934820249051185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631088c9779e9%3A0xbed9fed062de8a51!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDQ0LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1560630486607!5m2!1sru!2sru" frameborder="0" style="border:0" allowfullscreen)
				div.contact
						div.contact_head КОНТАКТЫ
						div.contact_sub
								| +7(812)374-96-06<br>
								| info@momijischool.ru
	footer
		div.footer
			div.contacts_img
				a(href="#")
					img(src="./img/contact_1.png" alt="")
				a(href="#")
					img(src="./img/contact_2.png" alt="")
				a(href="#")
					img(src="./img/contact_3.png" alt="")
			div.footer_contact Все права защищены
			div.footer_contact Санкт-Петербург, Момидзи 2019	




